<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinsluven</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="area">
        <div class="first">
            <p>OUR PHONE LINE - +234 (803) 4476152, +234 (818) 7851188, +234 (803) 261 2404</p>
            <div>
            </div>            
        </div>
        <nav>
            <a href="/home">
                <img src="img/logo.png" alt="" width="400px" height="80px">
            </a>
            <ul class="">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
        <div class="about" style="padding: 20px; font-weight: 500;">
            <p>We, Kinsluvenenterprise is a furniture store, mainly deal with laundry equipments, baby care products and camp beds manifactured with high quality materials by us. Our products are of different sizes suitable for you.</p>
            <p>Our Ironing boards are made with high quality metal materials :steel, super, foam, cover cloth, rubber And Extension Plug Size.</p>
            <p>Our Metal camp beds are made With quality clothing materials, super foam, galvarized iron steel.</p>
            <p>Our Superkins hanger are made with super foam, cloth, steel, rubber, leather and net. It is made with different attractive colours.</p>
            <p>We also provide lovely baby care products for our sweet mothers.</p>
            <a href="/gallery" style="color: darkgrey;">Click to see our works.</a>      
        </div>  
        <footer>
            <div class="footer-list">
                <div class="footer-about-us">
                    <p>ABOUT US</p>
                    <p class="footer-about"> We are located at H Line No. 29 Ariaria International Market, Aba, Abia State.</p>
                </div>
                <div class="footer-gallery">
                    <p>GALLERY</p>
                    <ul>
                        <li> <a href="/gallery">Campbeds</a></li>
                        <li><a href="/gallery">Hangers</a></li>
                        <li><a href="/gallery">Baby care products</a></li>
                        <li><a href="/gallery">Ironing Tables</a></li>
                    </ul>
                </div>
                <div class="footer-contact">
                    <p>CONTACT</p>
                    <ul>
                        <li><a>Whatsapp@<i>+234 (903) 9390303</i></a></li>
                        <li><a href="https://www.facebook.com/Kinsluvenenterprise">Facebook@<i>Facebook-Kinsluvenenterprise</i></a></li>
                        <li><a href="mailto:victorgbonna@gmail.com?subject= Feedback&body=Message">Email@<i>kinsluvenenteprise@gmail.com</a></i></li>
                    </ul>
                </div>
            </div>
            
            <hr>
            <div class="footer-copyright" style="text-align: center; color: rgb(5, 44, 5);  padding-bottom: 20px;">
                <p class="copyright">Copyright &copy; Kinsluven 2020</p>
            </div>
        </footer>
    </div>
</body>
</html>