<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinsluven</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="area">
        <div class="first">
            <p>OUR PHONE LINE - +234 (803) 4476152, +234 (818) 7851188, +234 (803) 261 2404</p>
            <div>
            </div>            
        </div>
        <nav>
            <a href="">
                <img src="img/logo.png" alt="" width="50%" height="80px" title="Home Page">
            </a>
            <ul class="">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
        <div class="contact" style="padding: 20px; font-weight: 500;">
            <p> We are located at H Line No. 29 Ariaria International Market, Aba, Abia State.</p>
            <p>To call for directions or more inquiries, you can reach us on our landline, +234 (803) 4476152, +234 (818) 7851188, +234 (803) 261 2404.</p>
            <p>You can also reach us on our social media handles. On Whatsapp-+234 (903) 9390303, Facebook-Kinsluvenenterprise</p>
            <p>Email us on kinsluvenenteprise@gmail.com</p>
            <a href="" style="color: darkgrey;">Click to know more about us.</a>      
        </div>  
        <footer>
            <div class="footer-list">
                <div class="footer-about-us">
                    <p>ABOUT US</p>
                    We mainly deal with laundry equipments, baby care products and camp beds manifactured with high quality materials by us. Our products are of different sizes suitable for you.
                    <p class="footer-about"></p>
                </div>
                <div class="footer-gallery">
                    <p>GALLERY</p>
                    <ul>
                        <li> <a href="">Campbeds</a></li>
                        <li><a href="">Hangers</a></li>
                        <li><a href="">Baby care products</a></li>
                        <li><a href="">Ironing Tables</a></li>
                    </ul>
                </div>
                <div class="footer-contact">
                    <p>CONTACT</p>
                    <ul>
                        <li><a href="">Whatsapp@<i>+234 (903) 9390303</i></a></li>
                        <li><a href="">Facebook@<i>Facebook-Kinsluvenenterprise</i></a></li>
                        <li><a href="">Email@<i>kinsluvenenteprise@gmail.com</a></i></li>
                    </ul>
                </div>
            </div>
            
            <hr>
            <div class="footer-copyright" style="text-align: center; color: rgb(5, 44, 5); padding-bottom: 20px;">
                <p class="copyright">Copyright &copy; Kinsluven 2020</p>
            </div>
        </footer>
    </div>
</body>
</html>