<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinsluven</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="area">
        <div class="first">
            <p>OUR PHONE LINE - +234 (803) 4476152, +234 (818) 7851188, +234 (803) 261 2404</p>
            <div>
            </div>            
        </div>
        <nav>
            <a href="/home">
                <img src="img/logo.png" alt="" width="400px" height="80px">
            </a>
            <ul class="">
                <li><a href="/home">Homes</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
        <div class="contents">
            <div class="welcome-page">
                <p style="font-size: 40px; line-height: 2px;">Gallery</p>
            </div>
            <div class="what-we">
                <p style="font-size: x-large;">Ironing tables and boards</p>
                <div class="ironing-boards">
                    <div>
                        <img src="img/ironingboard0.png" alt="ironing board">
                    </div>
                    <div>
                        <img src="img/ironingboard1.png" alt="ironing board">
                    </div>
                    <div>
                        <img src="img/ironingboard2.png" alt="ironing board">
                    </div>
                    <div>
                        <img src="img/ironingboard3.png" alt="ironing board">
                    </div>
                    <div>
                        <img src="img/ironingboard4.png" alt="ironing board">
                    </div>
                    <div>
                        <img src="img/ironingboard5.png" alt="ironing board">
                    </div>
                    <div>
                        <img src="img/ironingboard6.png" alt="ironing board">
                    </div>
                    <div>
                        <img src="img/ironingboard7.png" alt="ironing board">
                    </div>
                    <div>
                        <img src="img/ironingboard8.png" alt="ironing board">
                    </div>
                    <div>
                        <img src="img/ironingboard9.png" alt="ironing board">
                    </div>
                </div>
                <p style="font-size: x-large;">Baby care products</p>
                <div class="baby-care">
                    <div>
                        <img src="img/babycare0.png" alt="baby care">
                    </div>
                    <div>
                        <img src="img/babycare1.png" alt="baby care">
                    </div>
                    <div>
                        <img src="img/babycare2.png" alt="baby care">
                    </div>
                    <div>
                        <img src="img/babycare3.png" alt="baby care">
                    </div>
                </div>
                <p style="font-size: x-large;">Camp beds</p>
                <div class="camp-bed">
                    <div>
                        <img src="img/campbed0.png" alt="camp bed">
                    </div>
                    <div>
                        <img src="img/campbed1.png" alt="camp bed">
                    </div>
                    <div>
                        <img src="img/campbed2.png" alt="camp bed">
                    </div>
                    <div>
                        <img src="img/campbed3.png" alt="camp bed">
                    </div>
                    <div>
                        <img src="img/campbed4.jpg" alt="camp bed">
                    </div>
                    <div>
                        <img src="img/campbed5.png" alt="camp bed">
                    </div>
                </div>
                <p style="font-size: x-large;">Folding seats and Hangers</p>
                <div class="folding-seats">
                    <div>
                        <img src="img/foldingseat0.png" alt="folding seat">
                    </div>
                    <div>
                        <img src="img/foldingseat1.png" alt="folding seat">
                    </div>
                    <div>
                        <img src="img/hanger0.png" alt="hanger">
                    </div>
                </div>
            </div>
        </div>  
        <footer>
            <div class="footer-list">
                <div class="footer-about-us">
                    <p>ABOUT US</p>
                    <p class="footer-about"> We are located at H Line No. 29 Ariaria International Market, Aba, Abia State.</p>
                </div>
                <div class="footer-gallery">
                    <p>GALLERY</p>
                    <ul>
                        <li> <a href="/gallery">Campbeds</a></li>
                        <li><a href="/gallery">Hangers</a></li>
                        <li><a href="/gallery">Baby care products</a></li>
                        <li><a href="/gallery">Ironing Tables</a></li>
                    </ul>
                </div>
                <div class="footer-contact">
                    <p>CONTACT</p>
                    <ul>
                        <li><a href="">Whatsapp@<i>+234 (903) 9390303</i></a></li>
                        <li><a href="https://www.facebook.com/Kinsluvenenterprise">Facebook@<i>Facebook-Kinsluvenenterprise</i></a></li>
                        <li><a href="mailto:victorgbonna@gmail.com?subject= Feedback&body=Message">Email@<i>kinsluvenenteprise@gmail.com</a></i></li>
                    </ul>
                </div>
            </div>
            
            <hr>
            <div class="footer-copyright" style="text-align: center; color: rgb(5, 44, 5);  padding-bottom: 20px;">
                <p class="copyright">Copyright &copy; Kinsluven 2020</p>
            </div>
        </footer>
    </div>
</body>
</html>