<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinsluven</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="area">
        <div class="first">
            <p>OUR PHONE LINE - +234 (803) 4476152, +234 (818) 7851188, +234 (803) 261 2404</p>
            <div>
            </div>            
        </div>
        <nav>
            <a href="">
                <img src="img/logo.PNG" alt="" width="50%" height="80px" title="Go to the Home Page">
            </a>
            <ul class="">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
        <div class="img" style="margin-top: 30px; margin-bottom: 80px;">
            <img src="img/main.PNG" alt="">
        </div>
        <div class="contents">
            <div class="welcome-page">
                <p style="font-size: 40px; line-height: 2px;">Welcome to Kinsluven</p>
                <p style="font-style: italic;">We deal on ironing boards and tables, baby care products, camp beds and other furnitures manufactured by us with high quality materials.</p>
            </div>
            <div class="what-we">
                <p style="font-size: x-large;">What we make</p>
                <div class="what-we-make">
                    <a href="">
                        <div>
                            <img src="img/ironingboard0.PNG" alt="ironing board">
                            <p>IRONING BOARDS</p>
                        </div>
                    </a>
                    <a href="">
                        <div>
                            <img src="img/campbed0.PNG" alt="metal camp beds">
                            <p>METAL CAMP BEDS</p>
                        </div>
                    </a>
                    <a href="">
                        <div>
                            <img src="img/foldingseat0.PNG" alt="folding set">
                            <p>FOLDING SEATS</p>
                        </div>
                    </a>
                    <a href="">
                        <div>
                            <img src="img/babycare0.PNG" alt="babycare products">
                            <p>BABYCARE PRODUCTS</p>
                        </div>
                    </a>
                    <a href="">
                        <div>
                            <img src="img/hanger0.PNG" alt="hanger">
                            <p>HANGERS</p>
                        </div>
                    </a>
                </div>
                <p class="t"><a href="">See more..</a></p>
            </div>
            <div>
                <p style="font-size: x-large;">Client Testimonials</p>
                <div class="testimonials">
                    <div>
                        <p class="testimony">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia fugiat similique cupiditate numquam praesentium sapiente maxime qui laudantium odio sit ad possimus dignissimos, veritatis aliquam vel modi placeat, voluptatem omnis."</p>
                        <p class="client-name">Mr JOHN DOE</p>
                    </div>
                    <div>
                        <p class="testimony">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia fugiat similique cupiditate numquam praesentium sapiente maxime qui laudantium odio sit ad possimus dignissimos, veritatis aliquam vel modi placeat, voluptatem omnis."</p>
                        <p class="client-name">Mr JEAN DOE</p>
                    </div>
                    <div>
                        <p class="testimony">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia fugiat similique cupiditate numquam praesentium sapiente maxime qui laudantium odio sit ad possimus dignissimos, veritatis aliquam vel modi placeat, voluptatem omnis."</p>
                        <p class="client-name">Mr JANE DOE</p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-list">
                <div class="footer-about-us">
                    <p>ABOUT US</p>
                    <p class="footer-about"> We are located at H Line No. 29 Ariaria International Market, Aba, Abia State.</p>
                </div>
                <div class="footer-gallery">
                    <p>GALLERY</p>
                    <ul>
                        <li> <a href="">Campbeds</a></li>
                        <li><a href="">Hangers</a></li>
                        <li><a href="">Baby care products</a></li>
                        <li><a href="">Ironing Tables</a></li>
                    </ul>
                </div>
                <div class="footer-contact">
                    <p>CONTACT</p>
                    <ul>
                        <li><a href="">Whatsapp@<i>+234 (903) 9390303</i></a></li>
                        <li><a href="">Facebook@<i>Kinsluvenenterprise</i></a></li>
                        <li><a href="">Email@<i>kinsluvenenteprise@gmail.com</a></i></li>
                    </ul>
                </div>
            </div>
            
            <hr>
            <div class="footer-copyright" style="text-align: center; color: rgb(5, 44, 5); padding-bottom: 20px;">
                <p class="copyright">Copyright &copy; Kinsluven 2020</p>
            </div>
        </footer>
    </div>
</body>
</html>