@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto';
}
a{
    text-decoration: none;
}
a:hover{
    color: green;
}
nav{
    position: sticky;
    top: 0px;
}
ul{
    list-style-type: none;
}
.area{
    max-width: inherit;
    overflow-x: hidden;
    /* background: lightcoral; */
}
.first{
    background: green;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.first p, a{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.4em;
}

nav{
    background-image: url('../img/nav.jpg');
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}

nav ul{
    align-self: center;
    display: flex;
    font-size:1em;
    /* background: darkmagenta; */
}

nav ul li{
    margin-right: 20px;
}

.img{
    margin: 0;
    padding: 0;
    box-shadow: 6px 3px 50px 2px gray;
    /* margin-left: 100px;     */
}

.img img{
    width:100vw; 
    height:650px;
}


.contents{
    margin: 12% 10%;
}
.welcome-page{
    text-align: center;
}
.what-we{
    margin-bottom: 100px;
}
.what-we-make{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.what-we-make a{
    /* min-width: 30%;
    flex-basis: 30%;
    margin-right: 30px; */

    margin-bottom: 30px;
    position: relative;
}
.what-we-make a div img{
    width: 300px;
    height: 300px;
    overflow: hidden;
    transform-origin: 50% 65%;
    transition: transform 0.5s ease-in;
}
.what-we-make a div p{
    position: absolute;
    bottom: 15%;
    background: rgba(7, 60, 10, 0.27);
    width:92%;
    padding: 10px;
    color: black;
    border: none;
    text-align: center;
    /* font-style: italic; */
    font-weight: bold;
}
.what-we-make a :hover img{
    transform: scale(1.1);
}
.what-we p a{
    border-radius: 2px;
    padding: 10px;
    font-size: 15px;
    width: 20%;
    color: white;
    background: green;
    /* box-shadow: 2px 3px 2px 2px rgb(149, 155, 149); */
}

.testimonials{
    display: flex;
    margin-bottom: 30px;
}
.testimonials div:hover{
    border: none;
}
.testimonials div{
    cursor: pointer;
    flex-basis: 30%;
    margin-right: 20px;
    text-align: center;
    border: 2px lightgreen solid;
    padding: 1%;
}
.testimonials .testimony{
    font-weight: lighter;
    font-style: italic;
    color: gray;    
}
.testimonials .client-name{
    font-weight: bolder;
}

footer{
    border-top: 2px rgb(163, 185, 163) solid;
    box-shadow: 6px 3px 50px 2px gray;
    background-image: url('../img/nav.jpg');
    padding: 20px;
}
footer .footer-list{
    display: flex;
    justify-content: space-around;
    /* background: red; */
}
.footer-list div{
    flex-basis: 30%;
    max-width: 30%;
}
.footer-list ul li{
    /* background: blueviolet; */
    text-align: left;
    font-size: 15px;
    color: white;
    line-height: 20px;    
}
.footer-list ul{
    /* background: violet; */
    padding-left: 0;
    
}
.footer-list div>p{
    font-weight: bold;
    font-size: 20px;
    color: rgb(5, 39, 5);
}
.footer-contact ul li{
    margin: 10px;
    font-size: 0.8em
}
.footer-about{
    width: 50%;
    font-weight: normal !important;
    font-size: 1.2em !important;
}

/* GALLERY */
.what-we .ironing-boards, .what-we .baby-care, .what-we .camp-bed, .what-we .folding-seats{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 80px;
}
.what-we .ironing-boards div, .what-we .baby-care div, .what-we .camp-bed div, .what-we .folding-seats div{
    /* flex-basis: 30%;
    max-width: 30%;
    margin-bottom: 25px;
    margin-right: 20px; */
}
.what-we .ironing-boards div img, .what-we .baby-care div img, .what-we .camp-bed div img, .what-we .folding-seats div img{
    width: 300px;
    height: 300px;
}
@media(max-width:900px){
    .area{
        overflow-x: hidden;
    }
    .first p{
        font-size: 12px;
    }
    nav a img{
        width: 80% !important; ;
    }
    nav ul li{
        font-size: 0.8em;
    }
    .img img{
        width: 100%;
        height: 500px;
    }
    .what-we{
        margin-bottom: 100px;
    }

    .what-we-make a{
        margin-right: 10%;
        min-width: 40%;
        flex-basis: 40%;
    }
    .what-we-make a div img{
        width: 250px;
        height: 250px;
    }
    .what-we-make a div p{
        width: 230px;
  
    }
    .what-we .ironing-boards, .what-we .baby-care, .what-we .camp-bed, .what-we .folding-seats{
        display: block;
    }
    .what-we .ironing-boards div, .what-we .baby-care div, .what-we .camp-bed div, .what-we .folding-seats div{
        /* flex-basis: 45%;
        max-width: 45%; */
        /* margin-bottom: 20px; */
        /* margin-right: 0; */
    }
    .what-we .ironing-boards div img, .what-we .baby-care div img, .what-we .camp-bed div img, .what-we .folding-seats div img{
        width: 300px;
        height: 300px;
    }
    .about p,.contact p{
        font-size: 15px;
    }

    .footer-contact ul li a{
        margin: 10px;
        font-size: 1.2em
    }

}
@media(max-width:500px){
    .area{
        overflow-x: hidden;
        /* background: #374355; */
    }

    .first{
        display: none;
    }
    nav{
        position: sticky;
        top: 0px;
        display: block;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
    }
    nav>a{
        margin-left: 23%;
    }
    nav a img{
        width: 60% !important;
        margin-bottom: 20px;
    }
    nav ul{
        margin: 0;
        padding: 0;
        width: 100%;
        /* background: coral; */
        justify-content: center;
        font-size:1em;
        /* background: darkmagenta; */
    }
    
    nav ul li{
        margin-right: 15px;
    }
    .img img{
        width: 100%;
        height: 350px;
    }
    .contents{
        margin: 12% 5%;
    }
    .welcome-page{
        text-align: center;
        margin-top: 90px !important;
        margin-bottom: 50px !important;
    }
    .welcome-page :first-child{
        font-size: 20px !important;
        font-weight: 600;
    }
    .what-we{
        margin-bottom: 100px;
    }
    .what-we-make{
        display: block;
        /* background: chartreuse; */
        /* padding: 0 5%; */
    }
    .what-we-make a div img{
        width: 90vw;
        height: 250px;
    }
    .what-we-make a div p{
        width: 85vw;
  
    }

    .what-we p a{
        display: block;
        border-radius: 5px;
        text-align: center;
        /* padding: 30px; */
        margin-left: 45%;
        font-size: 17px;
        width: 50%;
        /* box-shadow: 2px 3px 2px 2px rgb(149, 155, 149); */
    }
    
    .testimonials{
        overflow-x: scroll;
        flex-wrap: nowrap;
    }

    .testimonials div{
        flex-basis: 80%;
        min-width: 80%;
    }
    footer{
        border-top: 2px rgb(163, 185, 163) solid;
        box-shadow: 6px 3px 50px 2px gray;
        background-image: url('../img/nav.jpg');
        padding: 20px;
    }
    footer .footer-list{
        display: block;
        text-align: center;
     /* background: red; */
    }
    .footer-list div{
        flex-basis: 100%;
        min-width: 100%;
    }
    .footer-list ul li{
        /* background: blueviolet; */
        text-align: center;
        font-size: 15px;
        color: white;
        line-height: 20px;    
    }
    .footer-list ul{
        /* background: violet; */
        padding-left: 0;
        
    }
    .footer-list div>p{
        font-weight: bold;
        font-size: 20px;
        color: rgb(5, 39, 5);
    }
    .footer-about{
        width: 100%;
    }
    .what-we .ironing-boards, .what-we .baby-care, .what-we .camp-bed, .what-we .folding-seats{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    .what-we .ironing-boards div, .what-we .baby-care div, .what-we .camp-bed div, .what-we .folding-seats div{
        flex-basis: 45%;
        max-width: 45%;
        margin-bottom: 15px;
        margin-right: 15px;
    }
    .what-we .ironing-boards div img, .what-we .baby-care div img, .what-we .camp-bed div img, .what-we .folding-seats div img{
        width: 150px;
        height: 150px;
    }
    .about p,.contact p{
        font-size: 13px;
    } 
    
}